$def with (name)
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Glaze Content Viewer</title>
	
	<!-- Generic Libraries -->
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
  
  <!-- Plug-in Libraries -->
  <script type="text/javascript" src="/static/js/jquery.popupWindow.js"></script>
  
  <!-- Application Code -->
  <script type="text/javascript" src="/static/js/glaze-ui.js"></script>
  
  <!-- Layout -->
  <link rel="stylesheet" type="text/css" href="/static/css/grids.css">
  
  <!-- style -->
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">

</head>
<body>
  <div id="doc3" class="yui-t4">
  	<div id="hd">
  		<!-- PUT MASTHEAD CODE HERE -->
  	  $if name:
          Welcome to <em>Glaze</em> $name.
      $else:
          <em>Hello</em>, Guest
  	</div>
  	<div id="bd">
  		<div id="yui-main">
  			<div class="yui-b">
  				<div class="yui-gc">
  					<div class="yui-u first">
  						<!-- PUT MAIN COLUMN 1 CODE HERE -->
  						<a class="load-content" href="/content/2004-06-30-World-Class-Supply-Management">Load Content</a>
  						<span id="contentViewer"/>
  						<!--<textarea rows="5" cols="100" id="objectViewer"> </textarea>-->
  					</div>
  					<div class="yui-u">
  						<!-- PUT MAIN COLUMN 2 CODE HERE -->
  						<span id="margin"></span>
        			<span id="discussion-popup"></span>
  					</div>
  				</div>
  			</div>
  		</div>
  		<div class="yui-b">
  			<!-- PUT SECONDARY COLUMN CODE HERE -->

  		</div>
  	</div>
  	<div id="ft">
  		<!-- PUT FOOTER CODE HERE -->
  		
  	</div>
  </div>
</body>
</html>


